sudo: false
language: ruby
rvm:
  - 2.2.8
  - 2.3.4
  - 2.4.3
  - 2.5.0
  - jruby-9.1.10.0
before_install:
  gem update --system
after_success:
  - bundle exec codeclimate-test-reporter
addons:
  code_climate:
    repo_token: 149f0d20e17ace00c44be432a4194bc441ba805da89a7708fca0f4a2c3f2aed7
